.contain {
  max-width: 80%;
  width: 850px;
  margin: 30px auto;
}

.aboutme {
  padding: 5px 0;
  text-align: left !important;
}

.pjdiv {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pjdiv > div {
  flex: 0 50%;
}
