.light {
  color: black !important;
  background-color: white;
}

.dark {
  color: white !important;
  background-color: #121212;
}

.main {
  padding-bottom: 50px;
  width: 100%;
}

.cont {
  max-width: 1075px;
  width: 100%;
  margin: auto;
}
