.light {
  color: black !important;
  background-color: white;
}

.dark {
  color: white !important;
  background-color: #121212;
}

.main {
  height: 5000px;
  width: 100%;
}

.cont {
  max-width: 850px;
  width: 100%;
  margin: auto;
}
