.main {
  padding: 5px 0;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
  color: white !important;
  background-color: #121212;
}

.cont {
  max-width: 1075px;
  width: 100%;
  margin: auto;
}

.head {
  margin: 17px;
}

.body {
  box-sizing: border-box;
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.bodytext {
  width: 100% !important;
  margin: auto auto !important;
}
.bodytexttop {
  width: 100% !important;
  margin: 10px 0 !important;
}
