.intro {
  background-color: black;
  z-index: 1;
  margin: 50px 27.5%;
  color: white;
  border-radius: 3px;
  padding: 10px 4%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.hi {
  font-weight: 700;
  font-size: 55px;
  margin: 30px;
}

.whatdoido {
  font-weight: 500;
  font-size: 25px;
}

.ib {
  background-color: white !important;
}

.gh {
  zoom: 1.3;
}

.buttons > * {
  transition: all 0.4s ease !important;
  box-shadow: 4px 4px 0 #453d63;
}

.buttons > *:hover {
  transition: all 0.4s ease;
  transform: translate(4px, 4px);
  box-shadow: 0 0 0 #453d63;
  filter: brightness(70%);
}
